[Unit]
Description=Luntik OpenVPN Connector
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target

[Service]
PrivateTmp=true
Type=forking
PIDFile=/run/openvpn/luntik.pid
ExecStart=/usr/sbin/openvpn --daemon --writepid /run/openvpn/luntik.pid \
    --cd /etc/luntik/ --config luntik.conf --log /var/log/luntik.log

[Install]
WantedBy=multi-user.target
